In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df = pd.read_excel (r"C:\Users\Shirani jayawardana\Desktop\sdgp\bandarawela.xlsx")
df.head()

,Date,Vegetable,Units,NetAmount (kg),Time,PricePerkilogram,NetPrice (Rs),Quality
0,7/31/2020,GreenChilli,4,118.0,7.50am,128.0,15104,H
1,7/31/2020,Beans,12,286.0,8.35am,182.0,52052,H
2,2020-07-31 00:00:00,Potatoe,5,266.0,9.45am,115.0,30590,M
3,2020-07-31 00:00:00,Cabbage,4,154.0,10.10am,77.0,11858,H
4,2020-07-31 00:00:00,Potatoe,3,142.0,10.30am,75.0,10650,L

In [3]:
df['Vegetable'].value_counts()

Beans          136
Eggplant        52
Tomato          31
Cabbage         29
Potatoe         24
Carrot          23
Radish          22
GreenChilli     12
Pumpkin          6
Guava            6
Karawila         4
Banana           2
Lettuce          2
Arecanut         2
Name: Vegetable, dtype: int64

In [4]:
df = df.drop(['Date','Quality','NetPrice (Rs)','Units'],axis='columns')
df.shape

(352, 4)

In [5]:
df.isnull().sum()

Vegetable           1
NetAmount (kg)      2
Time                0
PricePerkilogram    2
dtype: int64

In [6]:
df = df.dropna()
df.isnull().sum()

Vegetable           0
NetAmount (kg)      0
Time                0
PricePerkilogram    0
dtype: int64

In [7]:
df.Time.unique()

array(['7.50am ', '8.35am ', '9.45am ', '10.10am ', '10.30am', '10.45am ',
       '11.35am', '12.25pm ', '12.55pm', '9.00am', '9.25am', '9.55am',
       '10.50am', '11.05am ', '11.30am ', '11.45am', '8.30am ', '8.45am ',
       '8.55am', '9.45am', '10.00am', '10.25am ', '10.40am', '11.55am ',
       '8.15am ', '8.30am', '10.05am', '10.30am ', '10.55am ', '11.10am ',
       '11.35am ', '1.00pm ', '9.10am', '9.30am', '10.25am', '11.20am',
       '11.40am ', '12.05pm', '8.05am ', '8.10am ', '9.05am ', '9.35am',
       '10.15am', '8.05am', '8.25am ', '9.15am', '9.30am ', '9.55am ',
       '10.35am', '11.25am ', '12.02pm ', '9.15am ', '10.05am ',
       '10.15am ', '8.25am', '9.50am ', '11.05am', '11.15am ', '11.30am',
       '12.05pm ', '12.35pm ', '8.00am', '8.20am ', '9.25am ', '9.35am ',
       '11.10am', '10.10am', '10.23am ', '10.34am', '10.45am', '10.50am ',
       '7.55am ', '8.15am', '9.05am', '9.40am ', '10.00am ', '9.00am ',
       '12.50pm', '1.10pm ', '8.00am ', '8.40am', '8.55am ', '10.55am',
       '11.50am', '12.10pm', '12.15pm', '12.35pm', '12.40pm ', '12.45pm ',
       '1.15pm', '1.25pm ', '7.55am', '8.20am', '10.40am ', '12.30pm',
       '1.15pm ', '1.50pm ', '2.40pm ', '7.50am', '8.35am', '12.25pm',
       '12.55pm ', '11.45am ', '11.55am', '1.00pm', '11.20am ', '11.40am',
       '10.35am ', '11.25am', '10.34am ', '8.45am', '12.50pm ', '10.23am',
       '11.50am ', '12.10pm ', '12.15pm ', '1.25pm', '12.45pm'],
      dtype=object)

In [8]:
#creating new coloumns for morning and evening prices 
df['morning_price'] = df['Time'].apply(lambda x: 1 if 'am' in x.lower() else 0)
df['evening_price'] = df['Time'].apply(lambda x: 1 if 'pm' in x.lower() else 0)

In [9]:
df.head()

,Vegetable,NetAmount (kg),Time,PricePerkilogram,morning_price,evening_price
0,GreenChilli,118.0,7.50am,128.0,1,0
1,Beans,286.0,8.35am,182.0,1,0
2,Potatoe,266.0,9.45am,115.0,1,0
3,Cabbage,154.0,10.10am,77.0,1,0
4,Potatoe,142.0,10.30am,75.0,1,0

In [10]:
#creating coloumns for each vegetables
#Beans 
df['Beans'] = df['Vegetable'].apply(lambda x: 1 if 'beans' in x.lower() else 0)
#Potatoe
df['Potatoe'] = df['Vegetable'].apply(lambda x: 1 if 'potatoe' in x.lower() else 0)
#Eggplant 
df['Eggplant'] = df['Vegetable'].apply(lambda x: 1 if 'eggplant' in x.lower() else 0)
#Tomato          
df['Tomato'] = df['Vegetable'].apply(lambda x: 1 if 'tomato' in x.lower() else 0)
#Carrot  
df['Carrot'] = df['Vegetable'].apply(lambda x: 1 if 'carrot' in x.lower() else 0)
#Cabbage
df['Cabbage'] = df['Vegetable'].apply(lambda x: 1 if 'cabbage' in x.lower() else 0)
#Radish
df['Radish'] = df['Vegetable'].apply(lambda x: 1 if 'radish' in x.lower() else 0)
#Green Chilli 
df['GreenChilli'] = df['Vegetable'].apply(lambda x: 1 if 'greenchilli' in x.lower() else 0)
#Pumpkin 
df['Pumpkin'] = df['Vegetable'].apply(lambda x: 1 if 'pumpkin' in x.lower() else 0)
#Guava   
df['Guava'] = df['Vegetable'].apply(lambda x: 1 if 'guava' in x.lower() else 0)
#karawila
df['Karawila'] = df['Vegetable'].apply(lambda x: 1 if 'karawila' in x.lower() else 0)

In [11]:
df.head()

,Vegetable,NetAmount (kg),Time,PricePerkilogram,morning_price,evening_price,Beans,Potatoe,Eggplant,Tomato,Carrot,Cabbage,Radish,GreenChilli,Pumpkin,Guava,Karawila
0,GreenChilli,118.0,7.50am,128.0,1,0,0,0,0,0,0,0,0,1,0,0,0
1,Beans,286.0,8.35am,182.0,1,0,1,0,0,0,0,0,0,0,0,0,0
2,Potatoe,266.0,9.45am,115.0,1,0,0,1,0,0,0,0,0,0,0,0,0
3,Cabbage,154.0,10.10am,77.0,1,0,0,0,0,0,0,1,0,0,0,0,0
4,Potatoe,142.0,10.30am,75.0,1,0,0,1,0,0,0,0,0,0,0,0,0

In [12]:
#removing vegetables which contains less than two datasets 
#df = df.set_index("Vegetable")
#df.drop(['Banana','Arecanut','Lettuce','Karawila'], axis=0,inplace=True)

In [13]:
df.shape # initial row count = 248

(347, 17)

In [14]:
df = df[df.Vegetable != "Banana"]

In [15]:
#df = df[df.Vegetable != "Karawila"]

In [16]:
df = df[df.Vegetable != "Arecanut"]

In [17]:
df = df[df.Vegetable != "Lettuce"]

In [18]:
df.shape #row count after removing above mentioned 4 vegetables

(343, 17)

In [19]:
df["Vegetable"]

0      GreenChilli
1            Beans
2          Potatoe
3          Cabbage
4          Potatoe
          ...
347          Beans
348        Potatoe
349          Beans
350          Beans
351          Beans
Name: Vegetable, Length: 343, dtype: object

In [20]:
df.describe()

,NetAmount (kg),PricePerkilogram,morning_price,evening_price,Beans,Potatoe,Eggplant,Tomato,Carrot,Cabbage,Radish,GreenChilli,Pumpkin,Guava,Karawila
count,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.00000,343.000000,343.000000,343.000000,343.000000
mean,126.099125,105.134111,0.865889,0.134111,0.393586,0.069971,0.151603,0.090379,0.067055,0.081633,0.06414,0.034985,0.017493,0.017493,0.011662
std,105.361902,49.585588,0.341269,0.341269,0.489259,0.255471,0.359160,0.287143,0.250483,0.274204,0.24536,0.184011,0.131290,0.131290,0.107515
min,4.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,52.000000,75.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
50%,112.000000,87.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
75%,153.500000,155.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
max,891.000000,230.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000

In [21]:
 df.columns

Index(['Vegetable', 'NetAmount (kg)', 'Time', 'PricePerkilogram',
       'morning_price', 'evening_price', 'Beans', 'Potatoe', 'Eggplant',
       'Tomato', 'Carrot', 'Cabbage', 'Radish', 'GreenChilli', 'Pumpkin',
       'Guava', 'Karawila'],
      dtype='object')

In [22]:
#creating the random forest model
#choosing the appropiate columns
df_model = df[['Vegetable','PricePerkilogram','morning_price','evening_price','Beans','Potatoe','Eggplant','Tomato','Carrot','Cabbage','Radish','GreenChilli','Pumpkin','Guava','Karawila']]

In [23]:
#get dummy data
df_dum = pd.get_dummies(df_model)

In [26]:
#train test split
from sklearn.model_selection import train_test_split

X = df_dum.drop('PricePerkilogram', axis =1)
y = df_dum.PricePerkilogram.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
#random forest
from sklearn.model_selection import cross_val_score
#refer - https://stackabuse.com/random-forest-algorithm-with-python-and-scikit-learn/
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor() 
np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 3))

-17.08135576724182

In [30]:
#grid search cv - model tuning 
# reasonto choose it over random search cv is that we got less number of data sets
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':range(10,300,10), 'criterion':('mse','mae'), 'max_features':('auto','sqrt','log2')}

gs = GridSearchCV(rf,parameters,scoring='neg_mean_absolute_error',cv=3)
gs.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=RandomForestRegressor(),
             param_grid={'criterion': ('mse', 'mae'),
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'n_estimators': range(10, 300, 10)},
             scoring='neg_mean_absolute_error')

In [33]:
gs.best_score_

-15.950802277432713

In [34]:
gs.best_estimator_

RandomForestRegressor(criterion='mae', n_estimators=10)

In [36]:
#test enembles
from sklearn.metrics import mean_absolute_error
tpred_rf = gs.best_estimator_.predict(X_test)
mean_absolute_error(y_test,tpred_rf)

15.495652173913044