In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df = pd.read_excel (r"C:\Users\Shirani jayawardana\Desktop\sdgp\bandarawela.xlsx")
df.head()

,Date,Vegetable,Units,Net Amount (kg),Time,Price per kilogram(Rs),Net Price (Rs),Quality
0,7/31/2020,Green Chilli,4,118.0,7.50am,128.0,15104,H
1,7/31/2020,Beans,12,286.0,8.35am,182.0,52052,H
2,2020-07-31 00:00:00,Potatoe,5,266.0,9.45am,115.0,30590,M
3,2020-07-31 00:00:00,Cabbage,4,154.0,10.10am,77.0,11858,H
4,2020-07-31 00:00:00,Potatoe,3,142.0,10.30am,75.0,10650,L

In [3]:
df['Vegetable'].value_counts()

Beans           96
Eggplant        41
Potatoe         20
Tomato          20
Cabbage         18
Carrot          18
Radish          13
Green Chilli    10
Pumpkin          5
Guava            4
Karawila         2
Arecanut         1
Lettuce          1
Banana           1
Name: Vegetable, dtype: int64

In [4]:
df = df.drop(['Date','Quality','Net Price (Rs)','Units'],axis='columns')
df.shape

(251, 4)

In [5]:
df.isnull().sum()

Vegetable                 1
Net Amount (kg)           1
Time                      0
Price per kilogram(Rs)    1
dtype: int64

In [6]:
df = df.dropna()
df.isnull().sum()

Vegetable                 0
Net Amount (kg)           0
Time                      0
Price per kilogram(Rs)    0
dtype: int64

In [7]:
df.Time.unique()

array(['7.50am ', '8.35am ', '9.45am ', '10.10am ', '10.30am', '10.45am ',
       '11.35am', '12.25pm ', '12.55pm', '9.00am', '9.25am', '9.55am',
       '10.50am', '11.05am ', '11.30am ', '11.45am', '8.30am ', '8.45am ',
       '8.55am', '9.45am', '10.00am', '10.25am ', '10.40am', '11.55am ',
       '8.15am ', '8.30am', '10.05am', '10.30am ', '10.55am ', '11.10am ',
       '11.35am ', '1.00pm ', '9.10am', '9.30am', '10.25am', '11.20am',
       '11.40am ', '12.05pm', '8.05am ', '8.10am ', '9.05am ', '9.35am',
       '10.15am', '8.05am', '8.25am ', '9.15am', '9.30am ', '9.55am ',
       '10.35am', '11.25am ', '12.02pm ', '9.15am ', '10.05am ',
       '10.15am ', '8.25am', '9.50am ', '11.05am', '11.15am ', '11.30am',
       '12.05pm ', '12.35pm ', '8.00am', '8.20am ', '9.25am ', '9.35am ',
       '11.10am', '10.10am', '10.23am ', '10.34am', '10.45am', '10.50am ',
       '7.55am ', '8.15am', '9.05am', '9.40am ', '10.00am ', '9.00am ',
       '12.50pm', '1.10pm ', '8.00am ', '8.40am', '8.55am ', '10.55am',
       '11.50am', '12.10pm', '12.15pm', '12.35pm', '12.40pm ', '12.45pm ',
       '1.15pm', '1.25pm ', '7.55am', '8.20am', '10.40am ', '12.30pm',
       '1.15pm ', '1.50pm ', '2.40pm ', '7.50am', '8.35am', '12.25pm',
       '12.55pm ', '11.45am ', '11.55am', '1.00pm', '11.20am ', '11.40am',
       '10.35am ', '11.25am'], dtype=object)

In [8]:
#creating new coloumns for morning and evening prices 
df['morning_price'] = df['Time'].apply(lambda x: 1 if 'am' in x.lower() else 0)
df['evening_price'] = df['Time'].apply(lambda x: 1 if 'pm' in x.lower() else 0)

In [9]:
df.head()

,Vegetable,Net Amount (kg),Time,Price per kilogram(Rs),morning_price,evening_price
0,Green Chilli,118.0,7.50am,128.0,1,0
1,Beans,286.0,8.35am,182.0,1,0
2,Potatoe,266.0,9.45am,115.0,1,0
3,Cabbage,154.0,10.10am,77.0,1,0
4,Potatoe,142.0,10.30am,75.0,1,0

In [10]:
#creating coloumns for each vegetables
#Beans 
df['Beans'] = df['Vegetable'].apply(lambda x: 1 if 'beans' in x.lower() else 0)
#Potatoe
df['Potatoe'] = df['Vegetable'].apply(lambda x: 1 if 'potatoe' in x.lower() else 0)
#Eggplant 
df['Eggplant'] = df['Vegetable'].apply(lambda x: 1 if 'eggplant' in x.lower() else 0)
#Tomato          
df['Tomato'] = df['Vegetable'].apply(lambda x: 1 if 'tomato' in x.lower() else 0)
#Carrot  
df['Carrot'] = df['Vegetable'].apply(lambda x: 1 if 'carrot' in x.lower() else 0)
#Cabbage
df['Cabbage'] = df['Vegetable'].apply(lambda x: 1 if 'cabbage' in x.lower() else 0)
#Radish
df['Radish'] = df['Vegetable'].apply(lambda x: 1 if 'radish' in x.lower() else 0)
#Green Chilli 
df['Green Chilli'] = df['Vegetable'].apply(lambda x: 1 if 'green chilli' in x.lower() else 0)
#Pumpkin 
df['Pumpkin'] = df['Vegetable'].apply(lambda x: 1 if 'pumpkin' in x.lower() else 0)
#Guava   
df['Guava'] = df['Vegetable'].apply(lambda x: 1 if 'guava' in x.lower() else 0)

In [11]:
df.head()

,Vegetable,Net Amount (kg),Time,Price per kilogram(Rs),morning_price,evening_price,Beans,Potatoe,Eggplant,Tomato,Carrot,Cabbage,Radish,Green Chilli,Pumpkin,Guava
0,Green Chilli,118.0,7.50am,128.0,1,0,0,0,0,0,0,0,0,1,0,0
1,Beans,286.0,8.35am,182.0,1,0,1,0,0,0,0,0,0,0,0,0
2,Potatoe,266.0,9.45am,115.0,1,0,0,1,0,0,0,0,0,0,0,0
3,Cabbage,154.0,10.10am,77.0,1,0,0,0,0,0,0,1,0,0,0,0
4,Potatoe,142.0,10.30am,75.0,1,0,0,1,0,0,0,0,0,0,0,0

In [12]:
#removing vegetables which contains less than two datasets 
#df = df.set_index("Vegetable")
#df.drop(['Banana','Arecanut','Lettuce','Karawila'], axis=0,inplace=True)

#df = df[df.Vegetable = "Banana"]

In [13]:
df.shape # initial row count = 248

(248, 16)

In [16]:
df = df[df.Vegetable != "Banana"]

In [17]:
df = df[df.Vegetable != "Karawila"]

In [18]:
df = df[df.Vegetable != "Arecanut"]

In [19]:
df = df[df.Vegetable != "Lettuce"]

In [20]:
df.shape #row count after removing above mentioned 4 vegetables

(244, 16)

In [21]:
df["Vegetable"]

0      Green Chilli
1             Beans
2           Potatoe
3           Cabbage
4           Potatoe
           ...
246          Carrot
247        Eggplant
248        Eggplant
249           Beans
250         Pumpkin
Name: Vegetable, Length: 244, dtype: object

In [22]:
df.describe()

,Net Amount (kg),Price per kilogram(Rs),morning_price,evening_price,Beans,Potatoe,Eggplant,Tomato,Carrot,Cabbage,Radish,Green Chilli,Pumpkin,Guava
count,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000,244.000000
mean,131.893443,104.635246,0.872951,0.127049,0.389344,0.081967,0.168033,0.081967,0.073770,0.073770,0.053279,0.040984,0.020492,0.016393
std,95.577414,48.211662,0.333713,0.333713,0.488604,0.274879,0.374664,0.274879,0.261934,0.261934,0.225050,0.198660,0.141967,0.127244
min,4.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,52.000000,75.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,121.000000,86.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,154.000000,155.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,464.000000,230.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000