In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df1 = pd.read_excel (r"C:\Users\Shirani jayawardana\Desktop\sdgp proj\kappatipola\sdgp-data set.xlsx")
df1.head()

,Date,Vegetable,Units,Net Amount (kg),Time,Price per kilogram(Rs),Net Price (Rs),Quality
0,7/31/2020,Green Chilli,4.0,118.0,7.50am - 8.35am,128.0,15104.0,H
1,7/31/2020,Beans,12.0,286.0,8.35am - 9.45am,182.0,52052.0,H
2,2020-07-31 00:00:00,Potatoe,5.0,266.0,9.45am - 10.10am,115.0,30590.0,M
3,2020-07-31 00:00:00,cabbage,4.0,154.0,10.10am - 10.30am,77.0,11858.0,H
4,2020-07-31 00:00:00,Potatoe,3.0,142.0,10.30am - 10.45am,75.0,10650.0,L

In [3]:
df1['Vegetable'].value_counts()

Beans           96
Eggplant        41
Tomato          20
Potatoe         19
Carrot          18
Radish          13
Cabbage         11
cabbage          7
Green Chilli     5
Pumpkin          5
Guava            4
Chillie          4
Karawila         2
Arecanut         1
Banana           1
Green Chili      1
Lettuce          1
potatoe          1
Name: Vegetable, dtype: int64

In [4]:
df2 = df1.drop(['Quality','Net Price (Rs)','Units'],axis='columns')
df2.shape

(330, 5)

In [5]:
df2.shape

(330, 5)

In [6]:
df2.isnull().sum()

Date                      79
Vegetable                 80
Net Amount (kg)           80
Time                      79
Price per kilogram(Rs)    80
dtype: int64

In [7]:
df3 = df2.dropna()
df3.isnull().sum()

Date                      0
Vegetable                 0
Net Amount (kg)           0
Time                      0
Price per kilogram(Rs)    0
dtype: int64

In [8]:
df3.shape

(248, 5)

In [9]:
df3.Time.unique()

array(['7.50am - 8.35am', '8.35am - 9.45am', '9.45am - 10.10am',
       '10.10am - 10.30am', '10.30am - 10.45am', '10.45am - 11.35am',
       '11.35am - 12.25pm', '12.25pm - 12.55pm', '12.55pm - 1.30pm',
       '9.00am - 9.25pm', '9.25am - 9.55am', '9.55am - 10.10am',
       '10.10am - 10.50am', '10.50am - 11.05am', '11.05am - 11.30am',
       '11.30am - 11.35am', '11.35am - 11.45am', '11.45am - 12.10pm',
       '8.30am - 8.45am', '8.45am - 8.55am', '8.55am - 9.45am',
       '9.45am - 10.00am', '10.00am - 10.10am', '10.10am - 10.25am',
       '10.25am - 10.30am', '10.30am - 10.40am', '10.40am -11.05am',
       '11.05am - 11.55am', '11.55am - 12.30pm', '8.15am - 8.30am',
       '8.30am - 10.05am', '10.05am - 10.30am', '10.30am - 10.55am',
       '10.55am - 11.10am', '11.10am - 11.35am', '12.25pm - 1.00pm',
       '1.00pm - 1.35pm', '9.10am - 9.30am', '9.30am - 10.05am',
       '10.05am - 10.25am', '10.25am - 11.20am', '11.20am - 11.30am',
       '11.35am - 11.40am', '11.40am - 12.05pm', '12.05pm - 12.30pm',
       '7.50am - 8.05am', '8.05am - 8.10am', '8.10am - 9.05am',
       '9.05am - 9.35am', '9.35am - 9.45am', '9.45am - 10.05am',
       '10.05am - 10.15am', '10.15am - 10.30am', '10.55am - 11.35am',
       '8.05am - 8.25am', '8.25am - 9.15am', '9.15am - 9.30am',
       '9.30am - 9.45am', '9.45am - 9.55am', '9.55am - 10.35am',
       '10.35am - 11.25am', '11.25am - 12.02pm', '12.02pm - 12.35pm',
       '10.15am - 10.55am', '10.55am - 11.05am', '8.10am - 8.25am',
       '8.25am - 8.35am', '8.35am - 9.15am', '9.15am - 9.35am',
       '9.35am - 9.50am', '9.50am - 11.05am', '11.05am - 11.15am',
       '11.15am - 11.30am', '11.30am - 12.05pm', '12.05pm - 12.35pm',
       '12.35pm - 12.55pm', '8.00am - 8.20am', '8.20am - 8.55am',
       '8.55am - 9.10am', '9.10am - 9.25am', '9.25am - 9.35am',
       '9.35am - 10.05am', '10.05am - 11.10am', '11.10am - 11.45am',
       '11.45am - 12.05pm', '10.05am - 10.10am', '10.10am - 10.15am',
       '10.15am - 10.23am', '10.23am - 10.30am', '10.30am - 10.34am',
       '10.34am - 10.45am', '10.45am - 10.50am', '10.50am - 10.55am',
       '7.55am - 8.15am', '8.15am - 8.45am', '8.45am - 9.05am',
       '9.05am - 9.40am', '9.40am - 10.00am', '10.00am - 10.30am',
       '10.30am - 11.05am', '11.05am - 12.55pm', '9.00am - 10.00am',
       '10.00am - 10.45am', '10.45am - 11.15am', '8.00am - 8.15am',
       '8.15am - 10.00am', '10.00am - 10.15am', '10.15am - 10.45am',
       '10.45am - 11.10am', '11.10am - 11.20am', '12.50pm - 1.00pm',
       '1.00pm - 1.10pm', '1.10pm - 1.45pm', '8.00am - 8.30am',
       '8.30am- 8.40am', '8.40am - 8.45am', '8.55am - 9.00am',
       '9.00am- 9.55am', '9.55am - 10.00am', '10.55am - 11.45am',
       '11.45am - 11.50am', '11.50am - 11.55am', '11.55am - 12.10pm',
       '12.10pm - 12.15pm', '12.15pm - 12.35pm', '12.35pm - 12.40pm',
       '12.40pm - 12.45pm', '12.45pm - 12.50pm', '12.50pm - 1.15pm',
       '1.15pm - 1.25pm', '1.25pm - 1.45pm', '8.15am - 8.20am',
       '8.20am - 8.45am', '8.45am - 9.30am', '9.55am - 10.05am',
       '10.40am - 10.50am', '10.50am - 11.30am', '12.35pm - 12.45pm',
       '8.00am - 8.25am', '8.25am - 9.25am', '9.25am - 10.25am',
       '10.25am - 11.15am', '11.15am - 11.55am', '12.30pm - 1.15pm',
       '1.15pm - 1.50pm', '1.50pm - 2.40pm', '2.40pm - 3.30pm'],
      dtype=object)

In [ ]:
def convert_time(x):